# General
*~
.DS_Store

# Data directory
data/*
tests/data/*
models
*_models/*
docker/pyproject.toml

# Figures
figs/*

# Setting file
settings.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist

# Numpy data
*.npy

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/
poetry.lock

# sphinx
doc/_build
